extends layout

block content
  main
    div#betterback3.betterback
      ul
        each guest in guest_list
          li
            a(href=guest.url) #{guest.first_name} | #{guest.second_name} | #{guest.date_of_reservation_formatted} | #{guest.table} | #{guest.time_of_reservation}
        else
          li No active reservation on the site.